/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Body and Typography */
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    text-align: center
  }
  
  /* Header and Navigation */
  header {
    background-color: #444;
    color: #fff;
    text-align: center;
    padding: 20px 0;
  }
  
  nav ul {
    list-style: none;
  }
  
  nav ul li {
    display: inline;
    margin: 0 15px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #fff;
  }
  
  /* Main Sections */
  .main {
    padding: 20px;
  }
  
  .section {
    margin-bottom: 30px;
  }
  
  /* Footer */
  footer {
    text-align: center;
    padding: 20px 0;
    background-color: #444;
    color: #fff;
  }
  